.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;       
    gap: 20px;                 
}

.grid-item{
    display: flex;
    justify-content: center;   
    width: 100%;
}

/* Bilder */
.werdegang,
.praktika{
    width: 100%;     
}

/* Tablet/Desktop */
@media screen and (min-width:600px) {
    .grid-item{
        width: 70%;            
    }
}

@media screen and (min-width:800px) {
    .grid-item{
        width: 45%;            
    }
}